Import das bibliotecas e dataset

In [4]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MaxAbsScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.model_selection import train_test_split

import pandas as pd
import seaborn as sns

Tratando os dados

In [66]:
df = pd.read_csv('data/archive/healthcare-dataset-stroke-data.csv')
df.drop('id', inplace=True, axis=1)
df.dropna(inplace=True, subset=['bmi'])
# df = df[df["smoking_status"] != "Unknown"]
# x = df[df["stroke"] == 1]

X = df.drop('stroke', axis=1)
y = df["stroke"]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked
...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown

Separando o dataset

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=32)
print(f"Tamanho do conjunto de treino: {len(X_train)}")
print(f"Tamanho do conjunto de teste: {len(X_test)}")

Tamanho do conjunto de treino: 3436
Tamanho do conjunto de teste: 1473
      gender   age  hypertension  heart_disease ever_married      work_type  \
673   Female  58.0             0              0          Yes       Govt_job
2710  Female  64.0             1              0          Yes  Self-employed
1553    Male  66.0             0              0          Yes       Govt_job
4212    Male  48.0             0              0          Yes        Private
1973  Female  17.0             0              0           No        Private
...      ...   ...           ...            ...          ...            ...
4209    Male  38.0             1              0          Yes        Private
3084  Female  55.0             0              0          Yes        Private
1407  Female  77.0             0              0          Yes        Private
1666  Female   3.0             0              0           No       children
2911  Female  16.0             0              0           No        Private

     Residence_type  avg_glucose_level   bmi smoking_status
673           Rural              77.46  27.6   never smoked
2710          Urban             190.92  31.4   never smoked
1553          Rural             218.54  38.9         smokes
4212          Urban              78.85  43.2   never smoked
1973          Rural              55.41  25.4        Unknown
...             ...                ...   ...            ...
4209          Rural              56.90  92.0   never smoked
3084          Rural             112.46  27.3   never smoked
1407          Rural             100.85  29.5         smokes
1666          Urban              57.33  16.8        Unknown
2911          Urban             122.26  34.2   never smoked

[3436 rows x 10 columns] 673     0
2710    0
1553    0
4212    0
1973    0
       ..
4209    0
3084    0
1407    0
1666    0
2911    0
Name: stroke, Length: 3436, dtype: int64

Criando a pipeline

In [ ]:
pipeline = Pipeline(steps=[
  ("normalizacao", MinMaxScaler()),  
  ("KNN", KNeighborsClassifier(n_neighbors=3))
])

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
y_pred_prob = pipeline.predict_proba(X_test)
print(f"Acurácia de treinamento: {pipeline.score(X_train, y_train)}")