Import das bibliotecas e dataset

In [1]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MaxAbsScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.model_selection import train_test_split

import pandas as pd
import seaborn as sns

Tratando os dados e transformando as colunas em categorias

In [48]:
df = pd.read_csv('data/archive/healthcare-dataset-stroke-data.csv')
df.drop('id', inplace=True, axis=1)
# df.dropna(inplace=True, subset=['bmi'])

# df = df[df["smoking_status"] != "Unknown"]
# x = df[df["stroke"] == 1]
# df.info()

from sklearn.preprocessing import OneHotEncoder

one_hot = OneHotEncoder()

encoder_df = pd.DataFrame(one_hot.fit_transform(df[['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']]).toarray())

final_df = df.join(encoder_df)
final_df.dropna(inplace=True, subset=['bmi'])
final_df.drop(['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status'], axis=1, inplace=True)

X = final_df.drop('stroke', axis=1)
y = final_df["stroke"]

final_df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,0,1,2,3,...,6,7,8,9,10,11,12,13,14,15
0,67.0,0,1,228.69,36.6,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,80.0,0,1,105.92,32.5,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,49.0,0,0,171.23,34.4,1,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,79.0,1,0,174.12,24.0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,81.0,0,0,186.21,29.0,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
5106,81.0,0,0,125.20,40.0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5107,35.0,0,0,82.99,30.6,0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5108,51.0,0,0,166.29,25.6,0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5109,44.0,0,0,85.28,26.2,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

Separando o dataset

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=32)
print(f"Tamanho do conjunto de treino: {len(X_train)}")
print(f"Tamanho do conjunto de teste: {len(X_test)}")

Tamanho do conjunto de treino: 3436
Tamanho do conjunto de teste: 1473

Criando a pipeline

In [45]:
pipeline = Pipeline(steps=[
    ("normalizacao", MaxAbsScaler()),  
    ("MLP", MLPClassifier())
])

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
y_pred_prob = pipeline.predict_proba(X_test)
print(f"Acurácia de treinamento: {pipeline.score(X_train, y_train)}")

Acurácia de treinamento: 0.9604190919674039

/opt/conda/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(